.nav__list {
  margin-top: 20px;
  margin-left: 10px;
}

.nav__list > i {
  font-size: 30px;
  margin-bottom: 40px;
  cursor: pointer;
}

.nav__list > ul {
  padding: 10px;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.nav__list > ul > li {
  list-style: none;
}
.nav__list > ul > li > a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.nav__list > ul > li > a > span {
  /* display: inline-block; */
  font-weight: bold;
  letter-spacing: 3px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}
.nav__list > ul > li > a > i {
  margin-bottom: 20px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 50%;
}

.fa-chart-line,
.fa-user-graduate {
  display: none; /* Hide icons by default */
}

/* Show icons when navbar is smaller */
.nav__list.smallerNavbar .fa-chart-line,
.nav__list.smallerNavbar .fa-user-graduate {
  display: inline-block; /* Show icons when navbar is smaller */
  font-size: 30px;
  color: black;
}

/* Media query for laptop screens */
@media screen and (max-width: 2000px) {
  .nav__list {
    margin-top: 20px;
    margin-left: 0;
  }
  .nav__list > i {
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
  }
  .nav__list > ul {
    width: 70%; /* Adjust width for larger screens */
  }

  .nav__list > ul > li {
    display: inline-block; /* Maintain inline display for larger screens */
    font-size: 0.8rem;
    margin-right: 20px; /* Add spacing between items */
  }

  .nav__list.smallerNavbar .fa-chart-line,
  .nav__list.smallerNavbar .fa-user-graduate {
    display: inline-block; /* Show icons when navbar is smaller */
    font-size: 20px;
    color: black;
  }
}
