/* Default styles */
.nav__list {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.nav__list > i {
  font-size: 30px;
  margin-bottom: 40px;
  cursor: pointer;
}

.nav__list > ul {
  /* background-color: #fff; */
  padding: 10px;
  border-radius: 10px;
}

.nav__list > ul > li {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 3px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: underline;
}

.fa-chart-line,
.fa-user-graduate {
  display: none; /* Hide icons by default */
}

/* Show icons when navbar is smaller */
.nav__list.smallerNavbar .fa-chart-line,
.nav__list.smallerNavbar .fa-user-graduate {
  display: inline-block; /* Show icons when navbar is smaller */
  font-size: 30px;
  color: black;
}

/* Media query for laptop screens */
@media screen and (max-width: 2000px) {
  .nav__list {
    margin-left: 10px; /* Adjust margin for laptop screens */
  }
  .nav__list > i {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .nav__list > ul {
    width: 70%; /* Adjust width for larger screens */
  }

  .nav__list > ul > li {
    display: inline-block; /* Maintain inline display for larger screens */
    font-size: 0.8rem;
    margin-right: 20px; /* Add spacing between items */
    text-decoration: underline;
  }

  .nav__list.smallerNavbar .fa-chart-line,
  .nav__list.smallerNavbar .fa-user-graduate {
    display: inline-block; /* Show icons when navbar is smaller */
    font-size: 20px;
    color: black;
  }
}
