.studentDetails {
  width: 100%;
  overflow-x: hidden;
}
.studentDetails h1 {
  color: aliceblue;
  letter-spacing: 4px;
  position: sticky;
  color: black;
  top: 0;
  background-color: #fff;
  width: 100%;
  padding: 10px;
}

.studentDetail {
  display: grid; /* Using grid layout for better structure */
  grid-template-columns: repeat(5, 1fr); /* Create four equal columns */
  gap: 20px; /* Gap between grid items */
  padding: 20px;
}

.detail {
  margin-top: 10px;
}

.card {
  background-color: #f6f1ee;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 2000px) {
  .studentDetail {
    margin-top: 50px;
    display: grid; /* Using grid layout for better structure */
    grid-template-columns: repeat(3, 1fr); /* Create four equal columns */
    gap: 20px; /* Gap between grid items */
    padding: 20px;
  }
}
