<div class="student__list__table">
  <div class="chart">
    <canvas height="40" width="100" id="genderChart"></canvas>
  </div>
  <h1>Student List</h1>
  <div ui-grid="gridOptions" ui-grid-importer class="grid"></div>
  <button ng-click="openAddStudentModal()">Add Student</button>

  <!-- Overlay for the modal -->
  <div class="modal-overlay" ng-show="showAddStudentModal">
    <!-- Modal content -->
    <div class="modal">
      <button class="close-btn" ng-click="closeModal()">&times;</button>
      <h2 class="modal-title">Add New Student</h2>
      <form ng-submit="addStudent()">
        <!-- Form fields for student details -->
        <label for="name">Name</label>
        <input type="text" id="name" ng-model="newStudent.name" required />
        <label for="age">Age</label>
        <input type="number" id="age" ng-model="newStudent.age" required />
        <label for="age">Grade</label>
        <input type="text" id="grade" ng-model="newStudent.grade" required />
        <label for="age">Major</label>
        <input type="text" id="Major" ng-model="newStudent.major" required />
        <label for="age">Gender</label>
        <input type="text" id="Gender" ng-model="newStudent.gender" required />

        <!-- Button to submit the form -->
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
